# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

*~

am335x_pru_package/
deploy/
deploy-pruss-drv/
libserialport/
libsigrok/
libsigrokdecode/
pulseview/
sigrok-cli/
sigrok-dumps/
sigrok-util/
usr/

