[Unit]
Description=BeagleLogic Startup Script
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash DIR/scripts/beaglelogic-startup.sh

[Install]
WantedBy=multi-user.target
